<div class="container" style="background-image: url('app/assets/images/pexels-musa-ortaç-4218959 (2).jpg);">

  <div class="justify-content-center d-flex align-items-center" style="margin-top: 30px">
    <button type="button" class="btn btn-light" style="padding: 30px 80px; color: #888888;"><%= link_to "Create your cocktail!", new_cocktail_path %></button>
    <br><br>
  </div>
  <div class="cards">
    <% @cocktails.each do |cocktail|%>
     <div class="card-category" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.amexessentials.com/wp-content/uploads/2019/05/opener-mixing-cocktails-.jpg)">
     <%= link_to "#{cocktail.name}", "/cocktails/#{cocktail.id}" %>

  </div>
     <% end %>

</div>


