.banner-h1 {
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
}

.banner p {
    top: 72px;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.banner {
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    height: 255px;
}
