.footer {
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 80px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
    margin-top: 20px;
    padding: 5px;
  
    bottom: 0px;
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }

  .list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: grey;
}