// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-image: url(../images/background.jpg); 
    background-size: cover; 
    background-position: center;
    height: 500px;

}
